*{
	font-size:0.28rem;
}
.comtent{
	padding:0.5rem 0.2rem;
	text-align:center;
	font-size:0.5rem;

}
p{
	font-size:0.4rem;
	margin:0.1rem 0;
}
button{
		width:5rem;
		display:block;
		margin:0 auto;
	    border: none;
	    font-size: 0.36rem;
	    color: #fff;
	    height: 0.98rem;
	        background: #e2bc73;
	        border-radius:5px;
	}