@fpx :0.01rem;
body,html{
	width:100%;
	height:100%;
}
#index{
	background: #e2bc73;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.logo{
		margin: 1.3rem auto 0.1rem;
		width: 3.55rem;
		height: 0.66rem;
		img{
			width:100%;
			height: 100%;
		}
	}
	.title{
		width: 100%;
		font-size: 0.6rem;
		color: #fff;
		text-align: center;
		margin:0.2rem 0 1.7rem 0;
	}
	.form_item{
		
	}
	.item{
		width:6.2rem;
		height: 1rem;
		background: #d4ab5f;
		margin: 0 auto 0.2rem;
		position: relative;
		overflow: hidden;
		.label{
			width: .7rem;
			float:left;
			img{
				width: .33rem;
				display: block;
				margin: 0.25rem auto;
			}
		}
		.input{
			width: 5.5rem;
			float: left;
			height: 100%;
			
			input{
				float: left;
				border: none;
				background: none;
				width: 100%;
				height: 100%;
				font-size: 0.32rem;
				color: #fff;
				
			}
			input::-webkit-input-placeholder{
			        color: #fff;
			}
			
		}
		button{
			width: 2.22rem;
			height: 100%;
			font-size: 0.3rem;
			background: #c1984d;
			color: #fff;
			position: absolute;
			border: none;
			right: 0;
			bottom:0;

		}
	}
	.submit{
		width:6.2rem;
		height: 1rem;
		background: #d4ab5f;
		margin: 0.55rem auto 0.4rem;
		overflow: hidden;
		button{
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			font-size: 0.36rem;
			color: #fff;
			float: left;
		}
	}
	.tip{
		width: 100%;
		height: 0.4rem;
		font-size: 0.34rem;
		color: #b28d47;
		text-align: center;
	}
}
