#middle .banner {
  position: relative;
  height: 5rem; }
  #middle .banner img {
    width: 100%;
    height: 100%; }
  #middle .banner .mui-slider {
    overflow: hidden; }
  #middle .banner .current {
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    z-index: 101000;
    width: 0.6rem;
    height: 0.6rem;
    background: #e6e6e6;
    font-size: 0.24rem;
    border-radius: 50%;
    color: #666666;
    text-align: center;
    line-height: 0.6rem; }
#middle .pro_info {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 0.2rem 0; }
  #middle .pro_info .price {
    font-size: 0.48rem;
    color: #f04242;
    padding: 0 0.25rem;
    line-height: 0.74rem; }
  #middle .pro_info .name {
    color: #333233;
    font-size: 0.3rem;
    line-height: 0.46rem;
    padding: 0 0.25rem; }
#middle .pro_attr {
  padding: 0 0.25rem; }
  #middle .pro_attr .attr {
    margin: 0.4rem 0;
    overflow: hidden; }
    #middle .pro_attr .attr .label {
      width: 1rem;
      float: left;
      font-size: 0.3rem;
      color: #333333; }
    #middle .pro_attr .attr .attr_list {
      width: 6rem;
      float: left; }
      #middle .pro_attr .attr .attr_list ul li {
        padding: 0 0.1rem;
        margin-bottom: 0.2rem;
        height: 0.45rem;
        background: #f2f2f2;
        text-align: center;
        font-size: 0.22rem;
        color: #999999;
        line-height: 0.45rem;
        float: left;
        margin-right: 0.2rem; }
        #middle .pro_attr .attr .attr_list ul li.checked {
          background: #e2bc73;
          color: #fff; }
      #middle .pro_attr .attr .attr_list .mui-numbox {
        width: 100%;
        height: 100%; }
        #middle .pro_attr .attr .attr_list .mui-numbox button {
          display: inline-block;
          background: #ccc;
          color: #555;
          border: none;
          border-radius: 0;
          background-color: #dfdfdf;
          font-size: 0.18rem;
          height: 0.5rem;
          width: 0.5rem;
          float: left; }
        #middle .pro_attr .attr .attr_list .mui-numbox input {
          float: left;
          overflow: hidden;
          width: 0.64rem;
          height: 0.5rem;
          margin: 0;
          background: #f5f5f5;
          border: none;
          box-sizing: border-box;
          text-align: center; }
#middle .item .item_title {
  font-size: 0.3rem;
  color: #333333;
  font-weight: bold;
  border-left: 0.08rem solid #e2bc73;
  line-height: 0.38rem;
  padding: 0 0.25rem;
  margin: 0.25rem 0;
  margin-left: 0.25rem; }
#middle .item img {
  width: 100%;
  display: block; }

.btn_list {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.98rem; }
  .btn_list button.add_cart {
    width: 50%;
    height: 100%;
    background: #e2bc73;
    color: #fff;
    float: left;
    border: none; }
  .btn_list button.buy {
    width: 50%;
    height: 100%;
    background: #e00000;
    color: #fff;
    float: left;
    border: none; }

.detail {
  width: 100%;
  overflow: hidden; }
  .detail img {
    display: block;
    width: 100%; }

/*# sourceMappingURL=product_detail.css.map */
